{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card border border-success" style="width: 36rem;">
{% if user.profile.image %}
      <img class="card-img-top" src="/media/{{user.profile.image}}" alt="Card image cap">
{% else %}
    <div class="card-body">
      <a class="mt-4 mr-2" href="#">Upload image</a>
{% endif %}
      <h5 class="card-title mt-4">{{user.first_name}}</h5>
      <h6 class="card-title mt-4">Bio:</h6>
      <p class="card-text mt-4">{{user.profile.bio}}</p>
      <a href="{% url 'update-profile' user.id %}" class="btn btn-primary mt-4">Update</a>
    </div>
  </div>
</div>
{% endblock content %}
    